<div class="app">
<!--
  <div class="app__header">
    <img src="assets/img/logo.svg" class="app__logo">
  </div>
-->
  <div class="app__content">
    <div class="p-2 ml-4 rounded w-24 h-12 text-white bg-green-500 curser-pointer" (click)="onResetPizza()" >
      <a><i style="margin: 3px" class="material-icons" >refresh</i>New</a>
<!--      <a routerLink="products" routerLinkActive="active" ><i style="margin: 3px" class="material-icons" (click)="onResetPizza()">refresh</i>New</a>-->
    </div>
    <div class="app__container">
<!--      <router-outlet></router-outlet>-->
      <main-panel></main-panel>
    </div>
    <div class="app__footer">
      <p>&copy; Good Morning Pizza Inc.</p>
    </div>
  </div>
  <div #origin style="position: fixed; right: 20px; top: 20px">
    <button mat-fab color="basic" (click)="openHelpMessage(origin)">Help</button>
  </div>
</div>
